<div id="template_aspace_simple_bulk_edit_toolbar_action"><!--
      <button id="aspace_simple_bulk_edit" title="<%= I18n.t("aspace_simple_bulk_edit.title") %>" class="btn btn-default btn-xs show-aspace_simple_bulk_edit-btn" disabled>
        <span class="glyphicon glyphicon-refresh"></span>
         <%= I18n.t("aspace_simple_bulk_edit.update") %>
        <span class="badge aspace_simple_bulk_edit-count"></span>
      </button>
    </div>
--></div>

<div id="template_aspace_simple_bulk_edit_dialog_title"><!--
  <%= I18n.t("aspace_simple_bulk_edit.title") %>
--></div>

<div id="template_aspace_simple_bulk_edit_dialog_contents"><!--
  <%= form_tag({:controller => :aspace_simple_bulk_edit, :action => :update}, {:class => "form-horizontal", :id => "aspace_simple_bulk_edit_form", :target => "_blank" }) do -%>
  {if ($.isEmptyObject(selected))}
    <div class="alert alert-info"><%= I18n.t("aspace_simple_bulk_edit.is_empty") %></div>
  {else}
    <div id="bulkUpdatePane" data-load-url="<%= url_for :controller => :aspace_simple_bulk_edit, :action => :summary %>">
      <div class="alert alert-info">
        <%= I18n.t("aspace_simple_bulk_edit.loading") %>
      </div>
    </div>
  {/if}
  <% end %>
--></div>

<div id="template_aspace_simple_bulk_edit_dialog_footer"><!--
<div class="modal-footer">
  <button class="btn btn-primary pull-left aspace_simple_bulk_edits_update"><%= I18n.t("aspace_simple_bulk_edit.update") %></button>
  <button class="btn btn-default pull-right aspace_simple_bulk_edits_close" data-dismiss="modal"><%= I18n.t("actions.close") %></button>
  <button class="btn btn-warning pull-right clear-bulk-updates-btn" data-dismiss="modal"><%= I18n.t("aspace_simple_bulk_edit.clear_selection_button")  %></button>
</div>

--></div>

<div id="template_aspace_simple_bulk_edit_alert"><!--
<div class="alert alert-${alert_type} alert-dismissible fade show" role="alert">
<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
<p>
  {if alert_type == "warning"}
  <%= I18n.t("aspace_simple_bulk_edit.warning") %>
  {/if}
  {if alert_type == "danger"}
  <%= I18n.t("aspace_simple_bulk_edit.danger") %>
  {/if}
  {if alert_type == "success"}
   <%= I18n.t("aspace_simple_bulk_edit.success") %>
  {/if}
</p>
</div>
--></div>

<div id="template_aspace_simple_bulk_edit_type_warn"><!--
  <p class="aspace-simple-bulk-edit-type-warn bg-danger">No ${type} type selected. The ${message} will be removed unless a global top container and type have been selected.</p>
--></div>

<div id="template_aspace_simple_bulk_edit_no_indicator_warn"><!--
  <p class="aspace-simple-bulk-edit-indicator-warn bg-danger">An indicator is required if a type is selected.</p>
--></div>
