<% if @dartmouth_bulk_container_update_items.empty? %>
  <div class="alert alert-info"><%= I18n.t("aspace_simple_bulk_edit.is_empty") %></div>
<% else %>
  <%
    container_types = []
    date_types = []
    instance_types = []
        
    @container_types["values"].each do |ct|
       container_types << [I18n.t("enumerations.container_type.#{ct}", default: "#{ct}"),"#{ct}"]
    end
    
    @date_types["values"].each do |dt|
      unless dt == "range"
        date_types << [I18n.t("enumerations.date_type.#{dt}", default: "#{dt}"),"#{dt}"]
      end
    end
    
    @instance_types["values"].each do |inst_type|
      instance_types << [I18n.t("enumerations.instance_instance_type.#{inst_type}", default: "#{inst_type}"),"#{inst_type}"]
    end
    [container_types, date_types, instance_types].each do |a|
      a.unshift(["","none"])
    end
    
  %>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th><%= I18n.t("aspace_simple_bulk_edit.summary.title") %></th>
        <th><%= I18n.t("aspace_simple_bulk_edit.summary.date") %></th>
        <th><%= I18n.t("aspace_simple_bulk_edit.summary.container") %></th>
        <th><%= I18n.t("aspace_simple_bulk_edit.summary.child_indicator") %></th>
        <th><!-- actions --></th>
      </tr>
    </thead>
    <tbody>
      <% @dartmouth_bulk_container_update_items.each_with_index do |ao, index| %>
        
        <%
        item = ao["archival_object"]["_resolved"]
        next if !["file","item"].include?(item["level"])
        
        # containers
        inst = item["instances"].find{|instance| instance.has_key?("sub_container")}
        if inst.nil?
          container = "No container found"
          container_type = "none"
          instance_type = "none"
        else
          if inst["sub_container"]["top_container"] && inst["sub_container"]["top_container"]["_resolved"] && inst["sub_container"]["top_container"]["_resolved"]["indicator"]
            container = inst["sub_container"]["top_container"]["_resolved"]["display_string"]
            instance_type = inst["instance_type"]
            container_type = inst["sub_container"]["type_2"] ? inst["sub_container"]["type_2"] : "none"
          end
        end
        
        # dates: naively grab the first date
        date = item['dates'].first
        date_type = "none"
        unless date.nil?
          date_type = date['date_type']
          date_label = date['label']
          date_begin = date['begin']
          date_end = date['end']
          date_expression = date['expression']
        end
        %>
        <tr data-uri="<%= ao["selected"]["ref"] %>">
          <td class="aspace-simple-bulk-edit-summary-title"><input type="text" value="<%= item['title'] %>"></td>
          <td class="aspace-simple-bulk-edit-summary-date date-type-<%= date_type %>">
            
            <div class="input-group aspace-simple-bulk-edit-date-type">
              <%= select_tag "aspace_simple_bulk_edit_date_type_select_#{index}", options_for_select(date_types, date_type), :required => true %>
            </div>

            <div class="aspace-simple-bulk-edit-date-expression">
              <p><%= I18n.t("aspace_simple_bulk_edit.summary.date_expression") %></p>
              <div class="input-group">
                <textarea rows="2" id="ao_expression_date_<%= ao["selected"]["ref"] %>" type="text" name="ao_expression_date_<%= ao["selected"]["ref"] %>" class="form-control" data-date="<%= Date.today %>" data-autoclose="true" data-force-parse="false"><%= date_expression.nil? ? '' : date_expression %></textarea>
              </div>
            </div>
            
            <div class="aspace-simple-bulk-edit-date-begin">
              <p><%= I18n.t("aspace_simple_bulk_edit.summary.date_begin") %></p>
              <div class="input-group date">
                <input id="ao_begin_date_<%= ao["selected"]["ref"] %>" type="text" value="<%= date_begin rescue '' %>" name="ao_begin_date_<%= ao["selected"]["ref"] %>" class="date-field form-control" data-format="yyyy-mm-dd" data-date="<%= Date.today %>" data-autoclose="true" data-force-parse="false">
                <span class="input-group-addon">
                  <i class="glyphicon glyphicon-calendar"></i>
                </span>
              </div>
            </div>
            
            <div class="aspace-simple-bulk-edit-date-end">
              <p><%= I18n.t("aspace_simple_bulk_edit.summary.date_end") %></p>
              <div class="input-group date">
                <input id="ao_end_date_<%= ao["selected"]["ref"] %>" type="text" value="<%= date_end rescue '' %>" name="ao_end_date_<%= ao["selected"]["ref"] %>" class="date-field form-control" data-format="yyyy-mm-dd" data-date="<%= Date.today %>" data-autoclose="true" data-force-parse="false">
                <span class="input-group-addon">
                  <i class="glyphicon glyphicon-calendar"></i>
                </span>
              </div>
            </div>
          </td>
          <td class="aspace-simple-bulk-edit-summary-new-container">
            <div class="aspace-simple-bulk-edit-current-container">
              <p><%= I18n.t("aspace_simple_bulk_edit.summary.current_container") %></p>
              <div class="current-container"><%= container %></div>
            </div>

            <div class="input-group aspace-simple-bulk-edit-instance-type">
              <p><%= I18n.t("aspace_simple_bulk_edit.summary.type") %></p>
              <%= select_tag "aspace_simple_bulk_edit_instance_type_select_#{index}", options_for_select(instance_types, instance_type), :required => true %>
            </div>
            <p><%= I18n.t("aspace_simple_bulk_edit.summary.new_container") %></p>
            <div class="input-group linker-wrapper multiplicity-one">
              <input type="text" id="archival_record_children_children__<%= index + 1 %>__instances__0__sub_container__top_container__ref_" class="linker" data-label="Top Container" data-label_plural="Top Containers" data-name="ref" data-path="archival_record_children[children][<%= index + 1 %>][instances][0][sub_container][top_container]" data-url="/top_containers/search/typeahead.json?uri=<%= item['resource']['ref'] %>" data-browse-url="/top_containers/bulk_operations/browse" data-selected="{}" data-multiplicity="one" data-types="[&quot;top_container&quot;]" data-exclude="[]" style="display: none;">
            </div>
          </td>
          <td class="aspace-simple-bulk-edit-summary-child-indicator">
            <div class="input-group aspace-simple-bulk-edit-child-type">
              <p><%= I18n.t("aspace_simple_bulk_edit.summary.type") %></p>
              <%= select_tag "aspace_simple_bulk_edit_child_type_select_#{index}", options_for_select(container_types, container_type), :required => true %>
            </div>
            <div class="input-group aspace-simple-bulk-edit-child-indicator">
              <p><%= I18n.t("aspace_simple_bulk_edit.summary.indicator") %></p>
              <input type="text" value="<%= inst["sub_container"]["indicator_2"] rescue "" %>">
            </div>
          </td>
          <td class="aspace-simple-bulk-edit-summary-actions">
            <%= hidden_field_tag "uri_#{ao["selected"]["ref"]}", ao["selected"]["ref"] %>
            <div class="btn-group">
              <button class="btn btn-xs btn-warning remove-from-bulk-updates-btn" data-uri="<%= ao["selected"]["ref"] %>">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>